@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

$primary-color: #ffceb8;
$secondary-color: #db5252;
$tag-color: #b3b3b3;
$price-tag-color: #635a58;
$description-color: #492923;

* {
  box-sizing: border-box;
}

p {
  margin: 0.5rem;
}

body {
  margin: 0;
}

main {
  &::after {
    content: "";
    width: 50%;
    min-height: 100vh;
    background: #ffceb8 url(assets/Grey-and-Pink-Skin-Care-Tips.png) no-repeat
      bottom left;
    background-size: clamp(400px, 100vw, 100%);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

article {
  padding: 3rem;

  justify-content: space-around;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .tag {
    font-family: "Arvo";
    font-weight: bolder;
    color: $tag-color;
    letter-spacing: 0.2rem;
  }

  h1 {
    margin: 1.5rem 0px;
    color: black;
    font-size: clamp(2.5rem, 3vw, 4rem);
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    span {
      color: $secondary-color;
    }
  }
  .description {
    font-family: "Poppins";
    color: $description-color;
    font-size: clamp(24px, 1.5vw, 26px);
  }
  .price {
    line-height: 2rem;

    font-size: 3rem;
    font-family: "Poppins";
    var {
      color: #ffceb8;
      font-family: "Raleway";
      font-style: normal; // cancels default var style
    }
  }
  .social-media a {
    color: black;
    text-decoration: none;
    font-family: "Open sans";
  }
}

button {
  width: fit-content; // cancels default flex behaviour
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  font-size: larger;
  border: transparent; // cancels default button behaviour
  cursor: pointer;
  &:hover {
    background-color: $secondary-color;
  }
}

// to switch the color of only and $17.5 when device width is less than 540px
@media screen and (max-width: 555px) {
  article .price {
    color: $primary-color;
    var {
      color: black;
    }
  }
}
